/* /////////////GERAL ////////////*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


nav {
    background-color:#a0bed0;
    position: fixed;
    width: 100%;
    z-index: 99;
    top: 0;
}

.all {
    width: 1000px;
    margin: 0 auto;
}

body {
    font-family: 'Nunito';
    letter-spacing: .0625em;
    margin: 0;
}


/*///////////// TOPBAR//////////////*/

.topbar {
    background-color: #a0bed0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 10%;

}

.topbar__menu__link {
    list-style: none;
    display: flex;
    text-align: center;
}

a{
    text-decoration: none;
    color: white;
}

a:hover {
    color: rgba(255, 255, 255, .75)
}

.topbar__item__link {
    padding: 5%;
    margin-right: 20%;

}

/*//////////// BACKGROUND /////////////*/

.background {
    background-image: url(../img/foto-banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    text-align: center;
}

.title-background {
    display: flex;
    justify-content: center;
    font-family: 'varela round';
    font-size: 8vw;
    font-weight: lighter;
    text-transform: uppercase;
    line-height: 2.5rem;
    letter-spacing: .8rem;
    color: rgba(255, 255, 255,.9);
    padding-top: 20%;
  
}

.box-subtitle-background {
    display: flex;
    justify-content: center;
 
}

.subtitle-background {
    font-size: 1.6vw;
    font-size: 3.5vh;
    font-weight: 400;
    color: rgba(255,255,255,.7)!important;
    width: 70%;
    padding: 3% 18% 0 16%;
    font-family: 'nunito';
}

.box__btn {
    margin-top: 3%;  
}

.btn {
    margin: 0 auto;
    padding: 3%;
    border: 2px solid;
    padding: 20px 30px;
    box-shadow: 0 .1875rem .1875rem 0 rgba(0, 0, 0, .1)!important;
    font-family: 'Varela Round';
    font-size: 13px;
    letter-spacing: .15rem;
    border: 0;
    margin-top: 5%; 
    background-color: #829dad;

}

.btn:hover {
    background-color: #36b0e0;
}
/* ABOUT */

.about {  
    width: 100%;
}  

.section__about {
    background-color: black;
    margin: 0;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-right: 15px;
    padding-left: 15px;
    background: linear-gradient(to bottom, #161616 0, rgba(22, 22, 22, .9) 75%, rgba(22, 22, 22, .8) 100%);
}

.section__title {
    color: white;
    margin-top: 0;
}
.section__text-about {
    color: white;
    text-align: center;
    padding: 3% 25% 0 25%;
    color: rgba(255,255,255,.5)!important;
}

/* DESTINY  */

.container-destiny {
    width: 960px;
}

.siberia {
    max-width: 100%;
}

.section_siberia {
    width: 40%;
    border-left: 8px solid #829dad;
}

.destiny-siberia {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 8%;
  
}

.destiny__img-siberia {
    max-width: 100%;
    padding-top: 8%;
}

.section__text-siberia {
    padding-left: 10%;
    font-family: 'nunito';
    text-align: left;
    color: gray;
    font-size: 14px;
    
}

.section__title-siberia {
    padding-bottom: 3%;
    padding-left: 10%;
    font-family: 'Varela Round';
    font-size: 22px;
    font-weight: lighter;
}


/* GROENLANDIA */



.destiny-groenlandia {
    /* width: 100%; */
    /* margin: 0 auto; */
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.destiny__img-groenlandia {
    max-width: 10%;
 }
 
.section__title-groenlandia {
    /* padding-bottom: 3%; */
    font-family: 'Varela Round';
    font-size: 22px;
    font-weight: lighter;
    color: white;
    background-color: black;
    margin-left: 15%;
}

.section__text-groenlandia {
    text-align: left;
    margin: 0 auto;
    width: 80%;
}

.hr-groenlandia{
    color: #36b0e0;
    width: 1%;
    padding-bottom: 10%;
    padding-top: 10%;
    margin-left: 24%;
}

/* ANTARTIDA */

.destiny-antartida {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    align-items: center;
}


.section__title-antartida {
    color: white;
    padding-bottom: 3%;
    font-family: 'Varela Round';
    font-size: 22px;
    font-weight: lighter;
    background-color: black;
    margin-left: 72%;
    
}

.section__text-antartida {
    text-align: right;
    margin: 0 auto;
    width: 80%;
    margin-right: 15%;
}

.section__text--black {
    font-family: 'nunito';
    color: gray;
    font-size: 14px;
    margin-left: 15%;
}


.teste {
    background-color: black; 
}



.groenlandia, .antartida {
    max-width: 50%;;

}


.footer {
    background-color: #161616;
    margin-top: 80px;
    text-align: center;
    padding: 40px;
    color: rgba(255,255,255,.5);
  }
  
  .footer__socialmedia {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
  }
  
  .footer__twitter,
  .footer__facebook,
  .footer__youtube {
    opacity: 0.5;
    margin: 0 10px;
  }
  
  .footer__twitter:hover,
  .footer__facebook:hover,
  .footer__youtube:hover {
    opacity: 1;
  }


/* RESPONSIVO */

@media (max-width 420px) {

    .topbar__hamburguer {
        display: none;
    }
}